.nav-bar {
  background-color: $brand-primary;
  color: $brand-secondary;
  display: flex;
  height: 80px;
  width: 100%;
  position: fixed;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;

  .header {
    flex-grow: 1;
    font-size: 200%;
    line-height: 250%;
    padding-left: 10px;
  }

  .logo {
    height: 80px;
    width: 80px;
  }

  .nav-buttons {
    align-items: center;
    display: flex;
    justify-content: center;

    #compose-button {
      background-color: $brand-secondary;
      border-radius: 7px;
      color: $brand-primary;
      opacity: 0.9;
      height: 60px;
      width: 110px;
    }

    #compose-button:hover {
      opacity: 1;
    }

    #bullhorn {
      padding-right: 5px;
    }
  }
}
