.nav-bar {
  background-color: #a81f1f;
  color: #e8fdff;
  display: flex;
  height: 80px;
  width: 100%;
  position: fixed;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;

  .header {
    flex-grow: 1;
    float: left;
    font-size: 200%;
    line-height: 250%;
    padding-left: 10px;
  }

  .logo {
    float: left;
    height: 80px;
    width: 80px;
    position: relative;
  }

  .nav-buttons {
    align-items: center;
    display: flex;
    justify-content: center;

    #compose-button {
      background-color: #f9f9f9;
      border-radius: 7px;
      color: #a81f1f;
      opacity: 0.9;
      height: 60px;
      width: 110px;
    }

    #compose-button:hover {
      opacity: 1;
    }

    #bullhorn {
      padding-right: 5px;
    }
  }
}
