
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

.container {
  background: #f9f9f9;
  margin: 0 auto;
  padding: 100px 10px;
  width: 450px;
}