.header {
  float: left;
  font-size: 200%;
  padding-left: 10px;
  line-height: 250%;
  flex-grow: 1; /*There has to be a better way to do this*/
}

.logo {
  float: left;
  height: 80px;
  width: 80px;
  position: relative;
}

.nav-bar {
    background-color: #00a087;
    color: #e8fdff;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    padding-left: 2em;
    padding-right: 2em;
    z-index: 1;
    display: flex;
}

.nav-buttons {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

#compose-button {
  background-color: #f9f9f9;
  border-radius: 7px;
  color: #00a087;
  opacity: 0.9;
  height: 60px;
  width: 110px;
}

#compose-button:hover {
  opacity: 1;
}

#bullhorn {
  padding-right: 5px;
}