.newTweet {
  background-color: #eee;
  border-style: solid;
  border-color: grey;
  border-width: 0.5px;
  border-radius: 5px;
  padding: 10px;
}
.newTweetHeader {
  border-bottom-color: grey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0 auto;
}

.tweetArea {
  width: 100%;
}

.newTweetInputs {
  padding-top: 10px;
}

.counterOver {
  color: red;
}

.counter {
  float: right;
}
