$font-stack: "Roboto Condensed", sans-serif;
$brand-primary: #803342;
$brand-secondary: #E8DDD9;
$brand-text: #343440;


/* General Layout */
@import 'layout';

/* Navbar */
@import 'nav';

/* tweets */
@import 'tweets';